<p id="notice"><%= notice %></p>

<p>
  <strong>Metafile from:</strong>
  <%= @metalink.metafile_from_id %>
</p>

<p>
  <strong>Metafile to:</strong>
  <%= @metalink.metafile_to_id %>
</p>

<p>
  <strong>Metalink type:</strong>
  <%= @metalink.metalink_type %>
</p>

<p>
  <strong>Metalink data:</strong>
  <%= @metalink.metalink_data %>
</p>

<%= link_to 'Edit', edit_metalink_path(@metalink) %> |
<%= link_to 'Back', metalinks_path %>
