<%= form_for(@metafile) do |f| %>
  <% if @metafile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metafile.errors.count, "error") %> prohibited this metafile from being saved:</h2>

      <ul>
      <% @metafile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :meta_type %><br>
    <%= f.text_field :meta_type %>
  </div>
  <div class="field">
    <%= f.label :meta_data %><br>
    <%= f.text_area :meta_data %>
  </div>
  <div class="field">
    <%= f.label :meta_controls %><br>
    <%= f.text_area :meta_controls %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
